.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  padding: 1rem;
  overflow: hidden;
  background: white;
}

.usergoals {
  min-height: 15rem;
}
