.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  position: fixed;
  top: 24%;
  left: 44%;
  width: 30vw;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 1px;
}

.modal > form {
  width: 100%;
}

.modal__header {
  width: 100%;
  padding: 0.3rem 0.5rem;
  background: rgb(11, 166, 194);
  color: white;
  border-radius: 2px 0 0;
}

.modal__header h2 {
  margin: 0.5rem;
  font-size: 0.8rem;
}

.modal__content {
  padding: 1rem 0.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}
