.action-item {
  width: 100%;

  color: #333;
  font-weight: 500;
  padding: 1rem 0.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-item--completed {
  background-color: lightgreen;
}

.action-item--delete {
  background-color: rgba(189, 2, 2, 0.877);
  color: white;
}

.action-item--tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-item--tools__buttons {
  justify-content: flex-start;
}
.action-item--tools p {
  font-size: 0.8rem;
}
/* 
.action-item--item p {
  font-size: 1rem;
  font-weight: 700;
} */

.action-item--goal {
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
}

.action-item--info {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: green;
}

.accept-requested {
  border-bottom: 1px solid rgba(11, 12, 11, 0.288);
  border-radius: 5px;
}

.delete-requested {
  border-bottom: 1px solid rgba(11, 12, 11, 0.288);

  border-radius: 5px;
}

.action-item--info--delete {
  color: red;
}

.suggested-item {
  border-bottom: 1px solid rgba(11, 12, 11, 0.288);
}

.suggested-item__left {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
}

.suggested-item__suggestion {
  font-size: 1rem;
  font-weight: 900;
  color: green;
}
