.action-container {
  width: 30vw;
  margin-bottom: 2rem;
}

.action-container h2 {
  color: #364f6b;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.action-container__details {
  min-height: 30vh;

  /* border-top: 1px solid #364f6b; */
  /* border-bottom: 1px solid #364f6b; */
}

.action-container__details p {
  margin-bottom: 0.5rem;
}
