.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.app-container > h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #364f6b;
  letter-spacing: 2px;
}

.dashboard-container {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.leftside-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rightside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-container {
  margin: 0;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.useraction-container {
  /* grid-row: 4; */
  /* grid-column: 2/5;
  align-self: flex-start;
  justify-self: center; */
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .app-container {
    width: 100%;
  }
  .dashboard-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .userlist-container {
    width: 100%;
  }

  .leftside-container {
    width: 60%;
  }

  .usergoals {
    width: 100%;
  }
}
