.dashboard-container {
  /* min-height: 100vh; */
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.dashboard-container > h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(11, 166, 194);
  letter-spacing: 2px;
}

.todo-container {
  min-height: 40vh;
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.useraction-container {
  align-items: center;
}
