.addGoal-form {
  font-size: 0.8rem;
}

#goal {
}

#description {
}

#deadline {
}

.addgoal-button {
  background-color: #364f6b;
  color: white;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 100;
  transition: all 0.3s ease-in;
}

.addgoal-button:hover {
  background-color: white;
  color: #364f6b;
  border: 1px solid #364f6b;
  cursor: pointer;
}

.addgoal-button:disabled,
.addgoal-button:hover:disabled,
.addgoal-button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
