.partner-todo-item {
  /* margin-top: 0.5rem; */
  letter-spacing: 1px;
  /* margin-right: 1rem; */
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid red; */
  position: relative;
}

.partner-todo-item:hover {
  /* background-color: rgba(11, 145, 194, 0.219); */
  cursor: pointer;
}

.partner-todo-complete {
  background-color: rgba(65, 165, 65, 0.623);
  color: white;
}

.deleted-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(197, 23, 23, 0.678);
  color: white;
}

.deleted-item > .goal {
  text-decoration-line: line-through;
}

.delete-text {
  font-size: 0.7rem;
  font-weight: 700;
}

.partner-todo-item {
  padding: 0.5rem 1rem;
}

.partner-todo-item--pending {
  background-color: orange;
}

.partner-todo-item--accepted {
  background-color: rgba(65, 165, 65, 0.623);
}

.partner-todo-item--rejected {
  background-color: rgba(197, 23, 23, 0.678);
}

.goal-done {
  background-color: lightgreen;
}
