.userlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* justify-content: center; */
  width: 35vw;
  /* border: 1px solid #364f6b; */
  /* border-bottom: 1px solid #364f6b; */
}

.userlist-container h2 {
  color: #364f6b;
  font-size: 1.5rem;
  font-weight: 300;
  /* align-self: flex-start; */
}

.usergoals {
  min-height: 15rem;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userlist__list {
  /* border: 1px inset rgba(11, 145, 194, 0.11); */
  border-radius: 3px;
  width: 100%;
}
