.userlist__list,
.partnerlist__list {
  margin-top: 1rem;
  width: 50%;
  text-align: left;
  list-style: none;
  width: 50%;
  min-height: 50%;
  padding: 0.5rem 1rem;
}

.todo-item {
  /* margin-top: 0.5rem; */
  letter-spacing: 1px;
  /* margin-right: 1rem; */
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
}

.todo-item:hover {
  background-color: rgba(11, 145, 194, 0.219);
  cursor: pointer;
}

.todo-item label {
  position: relative;
}

.todo-item p {
  flex: 1;
}

.todo-complete {
  background-color: rgba(65, 165, 65, 0.623);
  color: white;
}

.cancel-icon {
  max-width: 20px;
  /* margin-left: 1rem; */
  z-index: 2;
  margin-left: auto;
}

.cancel-icon:hover {
  opacity: 0.5;
}

.checkbox[type="checkbox"] {
  opacity: 0;
  margin-right: right;
}

.todo-item label::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid;
  position: absolute;
  /* border-radius: 1px; */
  top: 3px;
}

.todo-item label::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 6px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}

.checkbox + label::after {
  content: none;
}

.checkbox:checked + label::after {
  content: "";
}

.checkbox:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.deleted-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(197, 23, 23, 0.678);
  color: white;
}

.deleted-item > .goal {
  text-decoration-line: line-through;
}

.delete-text {
  font-size: 0.7rem;
  font-weight: 700;
}
