.userlist__list,
.partnerlist__list {
  margin-top: 1rem;
  width: 50%;
  text-align: left;
  list-style: none;
  min-height: 50%;
  padding: 0.5rem 1rem;
}

.todo-item {
  margin-top: 0.6rem;
  display: flex;
  overflow: hidden;
  font-size: 0.9rem;
  padding: 0.6rem;
  align-items: center;
  border-radius: 5px;
  /* border: 2px solid #e7f2f6; */
  border-radius: 3px;
  background-color: #364f6b;
  color: #e7f2f6;
  font-weight: 600;
}

.todo-item:hover {
  background-color: #456b8c;
  color: #e7f2f6;
  cursor: pointer;
}

.todo-item label {
  position: relative;
}

.todo-item p {
  /* margin-left: 1rem; */
  flex: 1;
}

.todo-complete {
  background-color: rgba(65, 165, 65, 0.623);
  color: white;
  /* padding: 1rem 2rem; */
}

.cancel-icon {
  /* margin-left: 1rem; */
  z-index: 2;
  color: red;
}

.cancel-icon:hover {
  opacity: 0.5;
}

.deleted-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fc5185;
  color: white;
}

.deleted-item {
  padding: 0.7rem 2rem;
}

.deleted-item > .goal {
  text-decoration-line: line-through;
}

.delete-text {
  font-size: 0.5rem;
  font-weight: 700;
}

.todo-item-goal-pending {
  /* border: 1px solid rgba(51, 51, 51, 0.151); */
  border: 1px solid #364f6b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #3b2c54;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
}

.todo-item-goal-pending > p:last-child {
  /* margin-left: 10rem; */
  margin-left: 9rem;
  font-size: 0.9rem;
}

.todo-item-goal-accepted {
  background-color: #e7f2f6;
  display: flex;
  color: #362315;
  border: 1px solid #364f6b;
  font-weight: 300;
}

.todo-item-goal-accepted:hover {
  background-color: #364f6b;
  display: flex;
  color: #f0f0f0;
  border: 1px solid #364f6b;
}

.todo-item-goal-rejected {
  background-color: #6b364f;
  border: 1px solid #364f6b;
  color: #e7f2f6;
  font-weight: 600;
}
