.userlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.userlist-container h2 {
  color: rgb(11, 144, 194);
  font-size: 1.5rem;
  font-weight: 300;
}

.userlist__list {
  /* border: 1px inset rgba(11, 145, 194, 0.11); */
  border-radius: 3px;
  width: 25rem;
}

.button-add {
  /* margin-top: 2rem; */
  padding: 0.5rem 2rem;
  color: white;
  background-color: rgb(11, 144, 194);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid rgb(11, 144, 194);
  transition: all 0.3s;
}

.button-add:hover {
  background-color: white;
  border: 1px solid rgb(11, 144, 194);
  color: rgb(11, 144, 194);
}

.goal-item__modal-content {
  width: 100%;
  padding: 1rem 2rem;
}
