.checkbox {
  opacity: 0;
}

.label {
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.label:before {
  content: "";
  background-color: white;
  border: 2px solid #ddd;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  left: -30px;
}

.label:after {
  content: "\2713";
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  left: -30px;
  left: -25px;
  color: #333;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label:after {
  transform: scale(1);
}
