.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
  background-color: #364f6b;
  padding: 1rem;
  border-radius: 2px;
}

.logo {
  text-decoration: none;
  color: white;
}

.logo:hover {
  color: #f0f0f0;
}

.title {
  color: white;
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: 1px;
  /* line-height: 1.8; */
}

.title-detail {
  display: inline-block;
  color: #d55c84;
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-weight: 500;
  transform: translateY(5%) scale(1.3) scaleY(1.1);
}
