.auth-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-card {
  width: 25%;
  min-height: 30vh;
  margin-top: 3rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

.login-card form label {
  font-weight: 600;
}

.login-card form h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.login-card form button {
  width: 50%;
}

.login-card input {
  margin-top: 1rem;
}

.login-card button {
  margin-top: 0.5rem;
  width: 100%;
}
