.auth-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-card {
  width: 20%;
  min-height: 30vh;
  margin-top: 3rem;
}

.login-card form h2 {
  font-size: 1.2rem;
}

.login-card input {
  margin-top: 1rem;
}
