.footer {
  background-color: #364f6b;
  color: white;
  font-size: 0.8rem;
  padding: 1rem;
  grid-column: 1/ 9;
  display: flex;
  font-weight: 700;
  max-height: 1rem;
  align-items: center;
}

.footer-container {
  width: 100%;
  background-color: #364f6b;
}
