.account-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-container--card {
  width: 50%;
  height: 50vh;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 70% 20%;
  justify-self: center;
  align-self: center;
}

.account-container--card h2 {
  grid-row: 1;
  grid-column: 2/4;
}

.account-container--details {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  width: 100%;
  margin-top: 3rem;
  grid-row: 2;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-self: center;
  align-self: center;
}

.user-details img,
.partner-details img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fafafa;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.user-details,
.partner-details {
  align-self: center;
  justify-self: center;
}

.user-details {
  grid-row: 1;
  width: 15vw;
}

.user-details--name {
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.partner-details {
  width: 15vw;
  grid-column: 2;
}
.account-buttons {
  grid-row: 3;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  grid-column: 2/4;
}

.button--deactivate,
.button--delink {
  align-self: center;
  justify-self: center;
}

.button--deactivate {
  grid-column: 1;
}

.button--delink {
  grid-column: 2;
}
